/* GLOBAL */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0f0f0f;
  color: white;
}

html {
  scroll-behavior: smooth;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: center;
  padding: 20px 140px;
  background: #181818;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 40px;
  align-items: center;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

/* HERO */
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 70px 60px;
  gap: 60px;
  margin-bottom: 70px;
}

.hero-left {
  width: 45%;
}

.para {
  text-align: left;
  color: grey;
}

.hero-right {
  width: 45%;
  display: flex;
  justify-content: center;
}

.hero-photo {
  width: 320px;
  height: 320px;
  background: #555;
  border-radius: 50%;
}

/* HERO BUTTON */
.hero-btn {
  padding: 14px 25px;
  border: none;
  border-radius: 6px;
  background: #259821;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
  color: white;
  font-weight: bold;
  box-shadow: 0 0 12px rgba(37, 152, 33, 0.6);
  transition: 0.2s ease;
}

.hero-btn:hover {
  box-shadow: 0 0 20px rgba(37, 152, 33, 1);
  transform: translateY(-2px);
}

/* GENERAL BUTTON */
.primary-btn {
  padding: 14px 25px;
  border: none;
  border-radius: 6px;
  background: #33d42c;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
  color: white;
  font-weight: bold;
  transition: 0.2s ease;
}

.primary-btn:hover {
  box-shadow: 0 0 20px #33d42c;
  transform: translateY(-2px);
}

.primary-btn.small {
  padding: 10px 18px;
}

/* ORANGE BUTTON */
.btn-orange {
  background-color: orange;
}
.btn-orange:hover {
  box-shadow: 0 0 20px rgb(192, 125, 0);
}

/* BLUE BUTTON */
.btn-blue {
  background-color: rgb(0, 191, 255);
}
.btn-blue:hover {
  box-shadow: 0 0 20px rgb(0, 220, 255);
}

/* SKILLS SECTION (HORIZONTAL SCROLL) */
.clients {
  padding: 50px 60px;
}

.client-grid {
  display: flex;
  gap: 10px;
  padding-top: 20px;
  overflow-x: auto;
  white-space: nowrap;
  padding-bottom: 10px;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

/* Scrollbar */
.client-grid::-webkit-scrollbar {
  height: 4px;
}
.client-grid::-webkit-scrollbar-thumb {
  background: #444;
  border-radius: 10px;
}

/* Skill Item */
.client-box {
  display: inline-block;
  padding: 12px 24px;
  border: 1px solid #2a2929;
  border-radius: 8px;
  color: white;
  background: #1a1a1a;
  font-size: 14px;
  white-space: nowrap;
  transition: box-shadow 0.25s ease;
}

.client-box:hover {
  box-shadow: 0 0 10px rgba(129, 131, 129, 0.8);
}

/* CASE STUDIES */
.case-section {
  padding: 70px 60px;
  background-color: white;
  color: black;
}

.headingcs {
  text-align: center;
  font-weight: bolder;
  font-size: 34px;
}

.section-sub {
  margin: -10px auto 0 auto;
  opacity: 0.7;
  text-align: center;
  width: 40%;
  color: grey;
}

/* Case Cards */
.case-card {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 25px;
  margin-top: 40px;
}

.case-cardrev {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 40px;
  margin-top: 40px;
}

.case-left {
  width: 50%;
}

.case-img {
  width: 30%;
  height: 300px;
  background: #666;
  border-radius: 10px;
  object-fit: cover;
}

/* Tags */
.tag {
  background: rgb(255, 227, 176);
  padding: 4px 10px;
  border-radius: 60px;
  color: orange;
  font-weight: 600;
}
.tagblue {
  background: rgb(204, 238, 249);
  padding: 4px 10px;
  border-radius: 60px;
  color: rgb(0, 191, 255);
  font-weight: 600;
}

/* RECENT WORK */
.recent-section {
  background-color: black;
  color: white;
  padding: 40px 60px 20px 60px;
}

.recent-grid {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 20px;
}

/* Cards */
.recent-card {
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* Images */
.recent-img {
  width: 100%;
  height: 280px;
  background: #ddd;
  border-radius: 12px;
  margin-bottom: 15px;
  object-fit: cover;
  overflow: hidden;
}

.recent-card h3 {
  margin: 10px 0 8px 0;
  font-size: 20px;
  font-weight: 700;
}

.recent-card p {
  margin-bottom: 15px;
  color: grey;
  width: 90%;
}

/* TESTIMONIALS */
.testimonials {
  padding: 40px 60px;
}

.test-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
  margin-top: 30px;
}

.test-box {
  padding: 25px;
  border: 1px solid #333;
  border-radius: 10px;
}

/* CONTACT FORM */
.contact {
  padding: 70px 60px;
  text-align: center;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  margin-top: 20px;
}

.contact-form label {
  width: 30%;
  text-align: left;
}

input,
textarea {
  width: 30%;
  padding: 12px;
  background: white;
  border: 1px solid #444;
  color: black;
}

textarea {
  height: 120px;
}
