.fruitBox{
    background-color: rgb(0, 0, 0);
    color: #950000;
    padding: 20px;
    text-align: center;
    border-radius: 60%;
}

.fruitName {
  color: #8c9f3152;
  font-size: 18px;
  font-weight: bold;
  font-family: Impact, 'Arial Narrow Bold', sans-serif;
}