body{
    background-color: black;
    color: white;
}
.container {
  display: flex;
  align-items: center;
  gap: 50px;
  margin-left: 180px;
  margin-top: 40px
}


.navbar {
  position: sticky;
  top: 0;
  width: 100%;            
  height: 70px;
  background-color: #111;
  color: #9c9c9c;
  padding: 15px 40px;

  display: flex;
  justify-content: center;   
  align-items: center;

  z-index: 1000;
}

.navLinks {
  list-style: none;
  display: flex;
  gap: 140px;
}

.navLinks li {
  cursor: pointer;
  transition: 0.2s ease;
}

.navLinks li:hover {
  color: #00eaff;
}


.titlesection {
  width: 350px;
  margin-left: 50px;
  background-color: #000;
  color: #9c9c9c;
  padding: 15px 40px;
  display: flex;
  flex-direction: column;   /* stack vertically */
  gap: 8px;                 /* space between h1 and p */
  text-align: left;         /* more natural alignment */
  margin-top: 40px;
}

.Name{
    font-size: 44px;
    font-weight: bold;
    color: white;
    margin-bottom: 0px;
    
}
.imageBlock {
   top: 0;
  display: flex;
  justify-content: right;
  align-items: right;
}

.heroImage {
  width: 300px;
  height: auto;
  border-radius: 50%;
}

.startbutton{
  background-color:rgb(37, 246, 37);
  padding-left: 10px;
  padding-bottom: 20px;
  padding-right: 10px;
  padding-top: 20px;
  cursor: pointer;
  color: white;
  word-spacing: 8px;


}