.navbar {
  display: flex;
  justify-content: center;
  padding: 20px;
  background: rgb(58, 57, 57);
}

.navLinks {
  list-style: none;
  display: flex;
  justify-content: space-between; /* spreads items */
  width: 100%;                    /* important */
  padding: 0 40px;                /* optional spacing on sides */
}


.navLinks a {
  color: white;
  text-decoration: none;
}
