.counterBox {
  width: 200px;
  margin: 40px auto;
  padding: 20px;
  text-align: center;
  background: #383737;
  border-radius: 12px;
  transition: 0.2s ease;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}
.counterBox:hover {
  transform: scale(1.2);
}

.countValue {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 15px;
  color: #dadada;
}

.btn {
  width: 60px;
  padding: 10px;
  margin: 0 10px;
  font-size: 20px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s ease;
}

.btn:hover {
  transform: scale(1.2);
}

.increment {
  background-color: #4caf50;
  color: #dadada;
}

.decrement {
  background-color: #ff5252;
  color: #dadada;
}
